# Python

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual Environment

.venv/
venv/
env/

# Environment Variables

.env

# Database

*.db

# OS Files

.DS_Store
Thumbs.db

# IDE

.vscode/
.idea/

# Logs

*.log
